# pandas-datareader로 차트 데이터 획득하기

https://pandas-datareader.readthedocs.io/en/latest/

In [1]:
import pandas_datareader.data as web
df = web.DataReader(
    '005930',
    'naver',
    start='2021-12-01',
    end='2021-12-31'
)
df.head()

             Open   High    Low  Close    Volume
Date
2021-12-01  72000  74800  71600  74400  21954856
2021-12-02  73900  75800  73800  75800  23652940
2021-12-03  75600  76000  74100  75600  18330240
2021-12-06  75100  76700  74900  76300  16391250
2021-12-07  76100  77700  75600  77400  19232453

In [2]:
import pandas_datareader.data as web
df = web.DataReader(
    '005930.KS',  # 코스피: KS, 코스닥: KQ
    'yahoo',
    start='2021-12-01',
    end='2021-12-31'
)
df

             High    Low   Open  Close    Volume  Adj Close
Date
2021-12-01  74800  71600  72000  74400  21954856      74400
2021-12-02  75800  73800  73900  75800  23652940      75800
2021-12-03  76000  74100  75600  75600  18330240      75600
2021-12-06  76700  74900  75100  76300  16391250      76300
2021-12-07  77700  75600  76100  77400  19232453      77400
2021-12-08  78600  77100  78300  77400  21558340      77400
2021-12-09  78200  77000  77400  78200  21604528      78200
2021-12-10  77600  76800  77400  76900   9155219      76900
2021-12-13  78300  76500  77200  76800  15038750      76800
2021-12-14  77200  76200  76500  77000  10976660      77000
2021-12-15  77600  76300  76400  77600   9584939      77600
2021-12-16  78500  77400  78500  77800  11996128      77800
2021-12-17  78000  76800  76800  78000  13108479      78000
2021-12-20  77800  76800  77600  77100  11264375      77100
2021-12-21  78300  77500  77900  78100  14245298      78100
2021-12-22  79400  78800  78900  79400  17105892      79400
2021-12-23  80000  79300  79800  79900  13577498      79900
2021-12-24  80800  80200  80200  80500  12086380      80500
2021-12-27  80600  79800  80600  80200  10783368      80200
2021-12-28  80400  79700  80200  80300  18226325      80300
2021-12-29  80200  78500  80200  78800  19794795      78800
2021-12-30  79500  78100  78900  78300  14236700      78300